@model HR.Website.Models.UserInsertAndEdit
@{
    Layout = null;
    ViewBag.Title = "AddNewEmployee";
}

<!DOCTYPE html>
<head>
    <link href="~/Content/alertify.css" rel="stylesheet" />
</head>
<html>

<body>

    @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
    {

        <h1>Add New Employee</h1>
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10">
                <input id="btnSubmit" type="submit" value="Add" class="btn btn-info" />
                <input id="btnReset" type="reset" value="Reset" class="btn btn-warning" />
            </div>
        </div>
    }




    @*</form>*@
    @*<div class="modal fade" tabindex="-1" id="successModel"
             data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            &times;
                        </button>
                        <h4>Success</h4>
                    </div>
                    <div class="modal-body">
                        <h2>Added Successfully</h2>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-success">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#btnSubmit').click(function () {
                    $('#successModel').modal('show');

                });

            });

        </script>*@
    @*<script src="~/Scripts/alertify.js"></script>
        <script src="~/Scripts/alertify.min.js"></script>
        <script src="~/Scripts/jquery-3.4.1.min.js"></script>

        <script>

                                    //$('#btnSubmit').click(function () {
                                    //    alertify.confirm("This is a confirm dialog.",
                                    //        function () {
                                    //            alertify.success('Ok');
                                    //        },
                                    //        function () {
                                    //            alertify.error('Cancel');
                                    //        });
                                    //});

                                    //var pre = document.createElement('pre');
                                    ////custom style.
                                    //pre.style.maxHeight = "400px";
                                    //pre.style.margin = "0";
                                    //pre.style.padding = "24px";
                                    //pre.style.whiteSpace = "pre-wrap";
                                    //pre.style.textAlign = "justify";
                                    //pre.appendChild(document.createTextNode($('#addForm').text()));
                                    ////show as confirm
                                    //alertify.confirm(pre, function () {
                                    //    alertify.success('Add');
                                    //}, function () {
                                    //    alertify.error('Cancel');
                                    //}).set({ labels: { ok: 'Added', cancel: 'Canceled' }, padding: false });


        </script>*@

</body>
</html>

